<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UploadFile</title>

</head>
<body>
<h1>UpLoad File to Server</h1>
<form action="/khoa/guithongbao" method="POST" enctype="multipart/form-data">
    <input type="text" name="tieuDe" value="chao ban">
    <input type="text" name="noiDung" value="noi dung">
    <input type="text" name="idLoaiThongBao" value="1">
    <input type="file" name="files" id="file" multiple="multiple">
    <br><br>
    <button type="submit">Upload</button>
</form>
</body>
</html>